$MMORPG-hc1: '../../Imagenes-Icons/Block_MMORPG/Final_Fantasy_XIV/HC.jpg';
$MMORPG-hc2: '../../Imagenes-Icons/Block_MMORPG/GUILD_WARS_2/HC.jpg';
$MMORPG-hc3: '../../Imagenes-Icons/Block_MMORPG/Lost_ark/HC.jpg';
$MMORPG-hc4: '../../Imagenes-Icons/Block_MMORPG/WORLD_OF_WARCRAFT/hc.jpg';

$MOBA-hc1: '../../Imagenes-Icons/Block_MOBA/Dota_2/HC.jpg';
$MOBA-hc2: '../../Imagenes-Icons/Block_MOBA/Heroes_of_the_storm/HC.jpg';
$MOBA-hc3: '../../Imagenes-Icons/Block_MOBA/league_of_legens/HC.jpg';
$MOBA-hc4: '../../Imagenes-Icons/Block_MOBA/Smite/HC.jpg';

$Shooter-hc1: '../../Imagenes-Icons/block_Shooters/Black_ops/HC.jpg';
$Shooter-hc2: '../../Imagenes-Icons/block_Shooters/Imagenes_fornite/hc.jpg';
$Shooter-hc3: '../../Imagenes-Icons/block_Shooters/Overwatch/HC.jpg';
$Shooter-hc4: '../../Imagenes-Icons/block_Shooters/Valorant/hC.jpg';