@font-face {
  font-family: Fuente;
  src: url("/Fuentes/MONOSPACE.otf");
}

* {
  font-family: Fuente;
  box-sizing: border-box;
}

Body {
  background-color: #111111;
  color: #f1eff0;
}

.Body {
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 100%;
}

.Body h3,
.Body h4,
.Body p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 20px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80px;
}

.bloque {
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bloque .texto {
  width: 100%;
  padding-bottom: 1.5%;
}

.bloque .imagenes {
  width: 100%;
}

.bloque .imagenes img {
  width: 100%;
}

.bloque img {
  width: 100%;
}

.bloque .video {
  position: relative;
  width: 100%;
  padding-top: 56.2%;
  overflow: hidden;
}

.bloque .video .vd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-tags {
  padding-top: 1%;
}

.post-tags a {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 12px 5px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  font-size: 11px;
  background: 0 0;
  border: 1px solid #ffffff;
  border-radius: 24px;
  background-color: #111111;
  outline: none;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
}

.Galeria {
  display: flex;
  justify-content: center;
}

.Galeria .Imagenes {
  display: flex;
  width: 80%;
  height: 430px;
}

.Galeria .Imagenes a {
  display: inline-block;
  background-color: #000000;
  width: 0px;
  flex-grow: 1;
  opacity: .8;
  transition: .5s ease;
}

.Galeria .Imagenes a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Galeria .Imagenes a:hover {
  cursor: crosshair;
  width: 50%;
  opacity: 1;
  filter: contrast(120%);
}

.Juegos {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.Juegos h2 {
  font-size: 60px;
  text-align: center;
}

.Categories {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Categories a {
  text-decoration: none;
}

.Categories .categorie {
  display: flex;
  position: relative;
  padding: 15px;
  background: linear-gradient(60deg, #111111 0%, #19222E 100%);
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.Categories .categorie h3 {
  z-index: 99;
  color: #fff;
  pointer-events: none;
  transition: 0.2s ease;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.Categories .categorie button {
  position: relative;
  top: 10px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transform: scale(500%);
  opacity: 0.5;
}

.Categories .MMORPG button {
  background-color: #e9300f;
}

.Categories .Moba button {
  background-color: #0e61dd;
}

.Categories .Shooter button {
  background-color: #0fe633;
}

@media screen and (max-width: 550px) {
  .tops {
    display: none;
  }

  .container {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .container .card {
    position: relative;
    width: 300px;
    height: 170px;
    padding: 13px;
    background: linear-gradient(60deg, #111111 0%, #19222E 100%);
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  }

  .container .card h2 {
    z-index: 99;
    position: absolute;
    bottom: 80px;
    right: 30px;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    pointer-events: none;
    transition: 0.2s ease;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  }

  .container .card p {
    z-index: 99;
    position: absolute;
    bottom: 20px;
    right: 25px;
    width: 190px;
    color: #ffffff;
    pointer-events: none;
    font-size: 14px;
    text-align: right;
    letter-spacing: 1px;
    transition: 0.2s ease;
    opacity: 1;
  }

  .container .card span {
    display: none;
  }

  .container .card .pic {
    z-index: 100;
    width: 275px;
    height: 145px;
    background-size: cover;
    border-radius: 12px;
    transition: 0.3s ease;
  }

  .container .card button {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transform: scale(18.5);
    opacity: 0.5;
  }
}

@media screen and (min-width: 550px) {
  .container {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .container .card {
    position: relative;
    width: 500px;
    height: 230px;
    padding: 15px;
    background: linear-gradient(60deg, #111111 0%, #19222E 100%);
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  }

  .container .card h2 {
    z-index: 99;
    position: absolute;
    bottom: 25px;
    right: 130px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    pointer-events: none;
    transition: 0.2s ease;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  }

  .container .card p {
    z-index: 99;
    position: absolute;
    bottom: 30px;
    right: 130px;
    width: 200px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    font-size: 12px;
    text-align: right;
    letter-spacing: 1px;
    transition: 0.2s ease;
  }

  .container .card span {
    z-index: 99;
    position: absolute;
    top: 60px;
    right: 35px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    transition: 0.2s ease;
    opacity: 0.7;
  }

  .container .card .pic {
    z-index: 100;
    width: 395px;
    height: 200px;
    background-size: cover;
    border-radius: 12px;
    filter: grayscale(100%);
    transition: 0.3s ease;
  }

  .container .card button {
    position: absolute;
    right: 30px;
    bottom: 40px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    opacity: 1;
    transition: 0.3s ease;
  }

  .container .card:hover h2 {
    bottom: 90px;
    right: 50px;
  }

  .container .card:hover p {
    opacity: 1;
    right: 60px;
  }

  .container .card:hover span {
    opacity: 0;
    top: 80px;
  }

  .container .card:hover .pic {
    filter: grayscale(0%);
    width: 470px;
  }

  .container .card:hover button {
    transform: scale(16.5);
    opacity: 0.5;
  }
}

.container .FF .pic {
  background-image: url("../../Imagenes-Icons/Block MMORPG/Final Fantasy XIV/HC.jpg");
}

.container .GW .pic {
  background-image: url("../../Imagenes-Icons/Block MMORPG/GUILD WARS 2/HC.jpg");
}

.container .LK .pic {
  background-image: url("../../Imagenes-Icons/Block MMORPG/Lost ark/HC.jpg");
}

.container .WOW .pic {
  background-image: url("../../Imagenes-Icons/Block MMORPG/WORLD OF WARCRAFT/hc.jpg");
}

.container .DT2 .pic {
  background-image: url("../../Imagenes-Icons/Block MOBA/Dota 2/HC.jpg");
}

.container .HOS .pic {
  background-image: url("../../Imagenes-Icons/Block MOBA/Heroes of the storm/HC.jpg");
}

.container .LOL .pic {
  background-image: url("../../Imagenes-Icons/Block MOBA/league of legens/HC.jpg");
}

.container .ST .pic {
  background-image: url("../../Imagenes-Icons/Block MOBA/Smite/HC.jpg");
}

.container .COD .pic {
  background-image: url("../../Imagenes-Icons/block Shooters/Black ops/HC.jpg");
}

.container .FT .pic {
  background-image: url("../../Imagenes-Icons/block Shooters/Imagenes fornite/hc.jpg");
}

.container .OVW .pic {
  background-image: url("../../Imagenes-Icons/block Shooters/Overwatch/HC.jpg");
}

.container .VAL .pic {
  background-image: url("../../Imagenes-Icons/block Shooters/Valorant/hC.jpg");
}

.container .MMORPG button {
  background-color: #e9300f;
}

.container .Moba button {
  background-color: #0e61dd;
}

.container .Shooter button {
  background-color: #0fe633;
}