$MMORPG-hc1: '../../Imagenes-Icons/Block MMORPG/Final Fantasy XIV/HC.jpg';
$MMORPG-hc2: '../../Imagenes-Icons/Block MMORPG/GUILD WARS 2/HC.jpg';
$MMORPG-hc3: '../../Imagenes-Icons/Block MMORPG/Lost ark/HC.jpg';
$MMORPG-hc4: '../../Imagenes-Icons/Block MMORPG/WORLD OF WARCRAFT/hc.jpg';

$MOBA-hc1: '../../Imagenes-Icons/Block MOBA/Dota 2/HC.jpg';
$MOBA-hc2: '../../Imagenes-Icons/Block MOBA/Heroes of the storm/HC.jpg';
$MOBA-hc3: '../../Imagenes-Icons/Block MOBA/league of legens/HC.jpg';
$MOBA-hc4: '../../Imagenes-Icons/Block MOBA/Smite/HC.jpg';

$Shooter-hc1: '../../Imagenes-Icons/block Shooters/Black ops/HC.jpg';
$Shooter-hc2: '../../Imagenes-Icons/block Shooters/Imagenes fornite/hc.jpg';
$Shooter-hc3: '../../Imagenes-Icons/block Shooters/Overwatch/HC.jpg';
$Shooter-hc4: '../../Imagenes-Icons/block Shooters/Valorant/hC.jpg';